In [1]:
#install.packages("igraph")
library("igraph")
library("stringr")

Attaching package: ‘igraph’

The following objects are masked from ‘package:stats’:

    decompose, spectrum

The following object is masked from ‘package:base’:

    union

In [2]:
data <- read.csv("LPSdistrict_list_2009.csv")

In [3]:
head(data)

  ADDRESS        SCHOOL   X
1 Abbott Street  Geiger   NA
2 Acadia Avenue  Martel   NA
3 Acorn Lane     McMahon  NA
4 Adams Avenue   Longley  NA
5 Adele Street   Farwell  NA
6 Adolphe Street Montello NA

In [4]:
data <- data.frame(data$ADDRESS, data$SCHOOL)

In [5]:
tail(data)

    data.ADDRESS     data.SCHOOL
694 Wood Street      Geiger
695 Woodheaven Drive Martel
696 Woodlawn Avenue  Farwell
697 Woodside Drive   Montello
698 Woodville Way    Montello
699 York Street      Martel

In [6]:
data <- as.matrix(data)

In [7]:
data.g <- graph.edgelist(data, directed = TRUE)

In [8]:
V(data.g)$type <- bipartite_mapping(data.g)$type
bipart_data <- get.incidence(data.g)
head(bipart_data)

               Geiger Martel McMahon Longley Farwell Montello
Abbott Street  1      0      0       0       0       0
Acadia Avenue  0      1      0       0       0       0
Acorn Lane     0      0      1       0       0       0
Adams Avenue   0      0      0       1       0       0
Adele Street   0      0      0       0       1       0
Adolphe Street 0      0      0       0       0       1

In [9]:
street.net <- bipart_data %*% t(bipart_data)
school.net <- t(bipart_data) %*% bipart_data

diag(street.net) <- NA
diag(school.net) <- NA

In [10]:
school.g <- graph.adjacency(school.net, mode = "undirected", weighted=NULL, diag=FALSE)

street.g <- graph.adjacency(street.net, weighted = TRUE, mode = "undirected", diag=FALSE)

la <- layout_with_fr(street.g)

e.wt <- edge_attr(street.g, "weight")

In [11]:
# png(file="streetvschool.png", width=20000, height=20000, res = 150)
# plot(street.g, layout=la, rescale = TRUE, vertex.size = 1, edge.width=e.wt, vertex.label=V(street.g)$name, vertex.label.cex = 0.08, vertex.dist = 1)
# dev.off()

In [12]:
data2 <- read.csv("Book1.csv")

In [13]:
head(data2)

  Year      District.ID District.Name School.ID School.Name
1 2018-2019 NA          Statewide     NA        All Schools
2 2018-2019 NA          Statewide     NA        All Schools
3 2018-2019 NA          Statewide     NA        All Schools
4 2018-2019 NA          Statewide     NA        All Schools
5 2018-2019 NA          Statewide     NA        All Schools
6 2018-2019 NA          Statewide     NA        All Schools
  Disaggregated           Population                                Assessment
1 Other                   Economically Disadvantaged                Mathematics
2 Racial/Ethnic Diversity Black or African American                 Mathematics
3 All Students            All Students                              Mathematics
4 Racial/Ethnic Diversity Native Hawaiian or Other Pacific Islander Mathematics
5 Racial/Ethnic Diversity Asian                                     Mathematics
6 Other                   Students in Foster Care                   Mathematics
  Achievement.Level             Number.of.Students.Required.to.Test
1 Well Below State Expectations 40,235
2 Well Below State Expectations 3,656
3 Well Below State Expectations 93,610
4 Well Below State Expectations 107
5 Well Below State Expectations 1,353
6 Well Below State Expectations 523
  Total.Students.Tested Percentage.of.Students.Tested
1 38,760                96.3%
2 3,398                 92.9%
3 90,640                96.8%
4 103                   96.3%
5 1,329                 98.2%
6 481                   92.0%
  Number.of.Students.at.Achievement.Level
1 15,427
2 1,838
3 24,997
4 29
5 233
6 249
  Percentage.of.Students.at.Achievement.Level
1 39.8%
2 54.1%
3 27.6%
4 28.2%
5 17.5%
6 51.8%
  District...Number.of.Students.at.Achievement.Level
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA
  District...Percentage.of.Students.at.Achievement.Level
1 39.8%
2 54.1%
3 27.6%
4 28.2%
5 17.5%
6 51.8%
  Statewide...Number.of.Students.at.Achievement.Level
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA
  Statewide...Percentage.of.Students.at.Achievement.Level
1
2
3
4
5
6

In [14]:
data_maybe <- data.frame(data2$District.Name, data2$School.Name, data2$Population, data2$Disaggregated, data2$Assessment, data2$Achievement.Level)

In [15]:
head(data_maybe)

  data2.District.Name data2.School.Name
1 Statewide           All Schools
2 Statewide           All Schools
3 Statewide           All Schools
4 Statewide           All Schools
5 Statewide           All Schools
6 Statewide           All Schools
  data2.Population                          data2.Disaggregated
1 Economically Disadvantaged                Other
2 Black or African American                 Racial/Ethnic Diversity
3 All Students                              All Students
4 Native Hawaiian or Other Pacific Islander Racial/Ethnic Diversity
5 Asian                                     Racial/Ethnic Diversity
6 Students in Foster Care                   Other
  data2.Assessment data2.Achievement.Level
1 Mathematics      Well Below State Expectations
2 Mathematics      Well Below State Expectations
3 Mathematics      Well Below State Expectations
4 Mathematics      Well Below State Expectations
5 Mathematics      Well Below State Expectations
6 Mathematics      Well Below State Expectations

In [16]:
index <- which(data2$District.Name == "Lewiston Public Schools" & data2$School.Name != "All Schools")

In [17]:
new_data <- data_maybe[index,]

In [18]:
head(new_data)

      data2.District.Name     data2.School.Name
62959 Lewiston Public Schools Farwell Elementary School
62960 Lewiston Public Schools Farwell Elementary School
62961 Lewiston Public Schools Farwell Elementary School
62962 Lewiston Public Schools Farwell Elementary School
62963 Lewiston Public Schools Farwell Elementary School
62964 Lewiston Public Schools Farwell Elementary School
      data2.Population                          data2.Disaggregated
62959 Economically Disadvantaged                Other
62960 Black or African American                 Racial/Ethnic Diversity
62961 All Students                              All Students
62962 Native Hawaiian or Other Pacific Islander Racial/Ethnic Diversity
62963 Asian                                     Racial/Ethnic Diversity
62964 White                                     Racial/Ethnic Diversity
      data2.Assessment data2.Achievement.Level
62959 Mathematics      Well Below State Expectations
62960 Mathematics      Well Below State Expectations
62961 Mathematics      Well Below State Expectations
62962 Mathematics      Well Below State Expectations
62963 Mathematics      Well Below State Expectations
62964 Mathematics      Well Below State Expectations

In [19]:

new_data <- str_replace(new_data, "Well Below State Expectations", "0")

Warning message in stri_replace_first_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”

In [20]:
head(new_data)

WARNING: 1 intermediate output message was discarded.

In [21]:
#write.csv(new_data,'Cleaned_Book.csv')